:root {
  --bg-color: #e1e1eb;
  --title-color: #121312;
  --card-bg-color: rgba(238, 238, 238, 0.651);
  --text-color: black;
  --btn-color: #ffffff00;
}

.dark {
  --bg-color: #212121;
  --title-color: #1abc89;
  --card-bg-color: #222529;
  --text-color: white;
  --btn-color: #ffffff00;
  transition: all ease-in-out .8s;
}



body {
  background-color: var(--bg-color);
}

.header {
  margin: 2%;
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

ul.header-socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul.header-socials-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
  margin-top: 5px;
}

.header-socials li {
  margin: 0 10px;
}

.component {
  animation: fadeIn 0.5s ease-in-out;
}

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  color: var(--title-color);
  padding: 4%;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  gap: 10px;
}

.about .me.card {
  width: 50%;
  height: auto;
  padding: 1%;
}

.center {
  display: flex;
  justify-content: center;
}

/**elements**/
p {
  font-size: 1.2rem;
  /* color: rgba(245, 245, 245, 0.5); */
}

.small {
  font-size: 1rem;
  color: var(--text-color);
}


/** Links **/
a {
  color: var(--title-color);
}

a:hover {
  opacity: 0.8;
}

/** Cards **/

.card {
  background-color: var(--card-bg-color);
  /* padding: 1%; */
  border-radius: 1%;
}

.card:hover {
  background-color: var(--card-bg-color);
}

.me {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-grow: 10px;
  margin: 2%;
  gap: 21px;
}

.me.card {
  /* width: 80%; */
  /* Adjust the percentage as needed */
  height: auto;
  /* Let the height adjust automatically */
}

/* Move this into a separate scss file : blogs section css*/


.blogs {
  /* justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  gap: 10px;
}

.blogs {
  margin-right: 20%;
  margin-left: 20%;
}

.blogs .me.card {
  width: 80%;
  height: auto;
  padding: 1%;
}

.blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 25px; */
}

.blog img {
  width: 75px;
  height: 75px;
  border-radius: 4%;
}

/*Contact component css*/
#contact-form {
  max-width: 500px;
  max-height: 600px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #1abc89; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--card-bg-color);
}

fieldset {
  margin-bottom: 15px;
  border-color: var(--text-color);
}

fieldset button {
  justify-content: center;
  align-items: center;
  display: flex;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

input,
textarea {
  width: 96%;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  background-color: var(--card-bg-color);
}

input,
textarea:focus {
  color: white;
}

button {
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .me.card p {
    font-size: 16px;
  }

  .section-title {
    text-decoration: underline;
    color: var(--title-color);
  }

  .me img {
    height: 70px;
    border-radius: 4%;
    margin-left: 2px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .me.card p {
    font-size: 10px;
  }

  .section-title {
    text-decoration: underline;
    color: var(--title-color);
  }

  .me img {
    height: 50px;
    border-radius: 4%;
    margin-left: 2px;
  }
}

@media only screen and (max-width: 768px) {
  .me {
    width: 100%;
  }
}

/** Animations **/


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}